[submodule "0sim"]
	path = 0sim
	url = ../0sim.git
[submodule "0sim-experiments"]
	path = 0sim-experiments
	url = ../0sim-experiments.git
[submodule "0sim-trace"]
	path = 0sim-trace
	url = ../0sim-trace.git
[submodule "bmks/zerosim-hadoop/HiBench"]
	path = bmks/zerosim-hadoop/HiBench
	url = https://github.com/Intel-bigdata/HiBench.git
[submodule "numactl"]
	path = bmks/numactl
	url = ../numactl.git
[submodule "bmks/Metis"]
	path = bmks/Metis
	url = ../Metis.git
[submodule "bmks/memcached"]
	path = bmks/memcached
	url = https://github.com/memcached/memcached
[submodule "bmks/nullfs"]
	path = bmks/nullfs
	url = https://github.com/xrgtn/nullfs.git
[submodule "jobserver"]
	path = jobserver
	url = https://github.com/mark-i-m/jobserver
