[submodule "0sim"]
	path = 0sim
	url = ../0sim.git
[submodule "0sim-experiments"]
	path = 0sim-experiments
	url = ../0sim-experiments.git
[submodule "0sim-trace"]
	path = 0sim-trace
	url = ../0sim-trace.git
